body {
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 45px;
    line-height: 30px;
}
h2 {
    font-size: 35px;
    line-height: 30px;
}
.mission-color {
    color: tomato;
}
.flexible-container {
    display: flex;
    margin-top: 50px;
    margin-bottom: 60px;
}
.half-width {
    width: 50%;
    padding-left: 10%;
}
.half-width img {
    width: 70%;
}
.mission-border {
    border-left: 4px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(salmon,orangered);
    color: white;
    font-weight: 600;
    padding: 10px 40px;
    border-radius: 5px;
}
.mission-area h1 {
    text-align: center;
}
.mission-exp {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.mission-item {
    width: 30%;
    margin-left: 3%;
    padding: 40px 30px;
    border-radius: 15px;
}
.mission-item img {
    width: 50%;
}
#mission-web-exp {
    background-color: rgb(245, 227, 245);
}
#vission-web-exp {
    background-color: rgb(204, 231, 231);
}
#goals-web-exp {
    background-color: rgb(218, 208, 208) ;
}
.develop-area {
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 250px;
    margin-left: 20px;
    margin-right: 40px;
}
.limit-area {
    margin-right: 0;
}
#limit {
    padding-left: 0;
}
.global-area {
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 250px;
}
.about-area h1 {
    text-align: center;
}
.bonus-img  {
    text-align: center;
}
.bonus-img img {
    width: 40%;
}
footer {
    background-color: black;
    color: blanchedalmond;
    text-align: center;
    padding: 20px 50px
}
footer p {
    font-size: 0.75em;
}